<html>
<p id="head" style="text-align: center; font-size:100px">Our Project</p>
<br>
<br>

<style type="text/css">
	.head {
		font-size: 100px;
		text-align: center;
		font-color: orange;
	}
	#body {
		font-size: 20px;
		text-align: center;
	}
</style>
<body>
	<p id="body">Using a neural network coded by hand, as well as the Django website framework, we have successfully created a program that takes in user input about credit history and returns their probability of returning a loan. However, in addition to the neural network, we had to learn about setting up servers, and communicating instantaneously between different languages using server requests. All in all, we learned a lot from this experience and are excited to see what we can do further with this idea.
	</p>
</body>
</html>